/* Brand Image */
.brand-img {
  width: 100% !important;
  aspect-ratio: 3/2 !important;
  object-fit: contain !important;
}

/* Category Image */
.category_img {
  width: 100%;
  filter: brightness(2) invert(0);
  object-fit: contain !important;
  mix-blend-mode: darken !important;
}

/* Shopping Cart */
.cart-image {
  width: 50px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

/* User Dashboard */
.tg {
  --bg-primary: #28a745;
  --text-primary: #28a745;
}

.tg-account .account-banner {
  background: var(--bg-primary);
  width: 100%;
  float: left;
  padding: 100px 0 0;
}

.tg-account .account-banner .inner-banner .detail * {
  color: #fff;
}

.tg-account .account-banner .inner-banner .profile {
  text-align: center;
}

.tg-account .account-banner .inner-banner .profile span.image img {
  width: 130px;
  border-radius: 50%;
  box-shadow: 0px 0px 15px -10px #000;
}

.tg-account .account-banner .inner-banner .detail h3.user-name {
  font-size: 20px;
  margin-top: 20px;
}

.tg-account .account-banner .inner-banner .nav-area {
  width: 100%;
  margin-top: 45px;
}

.tg-account .account-banner .inner-banner .nav-area ul li a {
  background: rgba(255, 255, 255, 0.4);
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  border: none;
  padding: 10px 28px;
  min-width: 120px;
  display: block;
  transition: 0.4s;
  text-align: center;
}

.tg-account .account-banner .inner-banner .nav-area ul li {
  margin-right: 7px;
}

.tg-account .account-banner .inner-banner .nav-area ul li a.active,
.tg-account .account-banner .inner-banner .nav-area ul li a:hover {
  color: var(--text-primary);
  background: #fff;
}

/* .tg-tabs-content-wrapp {
  width: 100%;
  float: left;
  padding: 30px 0;
} */

.tg-tabs-content-wrapp {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}

div#my-orders-table_length {
  width: fit-content;
  float: left;
}

div#my-orders-table_filter {
  width: fit-content;
  float: right;
}

div#my-orders-table_length select,
div#my-orders-table_filter input {
  border: 1px solid #207ba1;
  padding: 5px 15px;
}

div#my-orders-table_length,
div#my-orders-table_filter {
  margin-bottom: 22px;
}

.tg-tabs-content-wrapp form.tg-form {
  width: 100%;
  float: left;
  background: #f7f7f7;
  padding: 30px 30px 60px;
  border: 1px solid #eaeaea;
}

.tg-tabs-content-wrapp form.tg-form button {
  background: var(--bg-primary);
  border: none;
  padding: 10px 32px;
  cursor: pointer;
  margin: 13px 0 0;
}

.tg-tabs-content-wrapp .my-account-dashboard .card img {
  max-width: 80px;
}

.tg-tabs-content-wrapp .my-account-dashboard .card {
  text-align: center;
}

.tg-tabs-content-wrapp .my-account-dashboard .card h2 {
  font-size: 20px;
  margin-top: 14px;
}

.tg-tabs-content-wrapp .my-account-dashboard .card p {
  font-size: 15px;
}

div#my-orders-table_info {
  float: left;
}

div#my-orders-table_paginate {
  float: right;
}

.page-item.active .page-link {
  background-color: lightgrey !important;
  border: 1px solid black;
}

.page-link {
  color: black !important;
}

div#my-orders-table_paginate a {
  background: #e6e6e6;
  margin: 0 2px;
  padding: 3px 11px;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

div#my-orders-table_paginate {
  margin-top: 8px;
}

div#my-orders-table_paginate span a.current {
  color: #fff !important;
  background: var(--primary);
}

.tg-tabs-content-wrapp .my-account-dashboard .card {
  cursor: pointer;
}

.tg-tabs-content-wrapp .my-account-dashboard .card:hover,
.tg-tabs-content-wrapp .my-account-dashboard .card.active {
  background: var(--text-primary);
}

.tg-tabs-content-wrapp .my-account-dashboard .card:hover *,
.tg-tabs-content-wrapp .my-account-dashboard .card.active * {
  color: #fff;
}

.tg-tabs-content-wrapp .my-account-dashboard .card {
  transition: 0.4s;
  border-radius: 0px;
  box-shadow: 0px 2px 7px -5px;
}

table#my-orders-table a.view-order {
  background: var(--text-primary);
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  padding: 4px 11px;
  border-radius: 3px;
}

@media (min-width: 768px) {
  table#my-orders-table td.action,
  table#my-orders-table th.action {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .tg-account .account-banner .inner-banner .nav-area ul li a {
    min-width: auto !important;
    padding: 8px 15px;
  }
}

@media (max-width: 600px) {
  .tg-account .account-banner .inner-banner .nav-area ul li a span {
    display: none;
  }
  .tg-account .account-banner .inner-banner .nav-area ul li a {
    min-width: auto;
    padding: 8px 20px;
  }
  .tg-account .account-banner .inner-banner .nav-area ul {
    text-align: center;
    margin: 0 auto;
    width: fit-content;
  }
  .tg-account .detail {
    text-align: center;
  }
  div#my-orders-table_length select,
  div#my-orders-table_filter input {
    max-width: 120px;
    font-size: 14px;
  }
  div#my-orders-table_length label,
  div#my-orders-table_filter label {
    font-size: 0px;
  }
}

.flash-message {
  background-color: #b8e1bb !important; /* Light green background */
  color: green; /* Dark green text */
  padding: 15px;
  border: 1px solid #d6e9c6; /* Green border */
  border-radius: 5px;
  text-align: center;
  margin: 10px 0;
}

#msg-flash-error .flash-message-error {
  background-color: #f8d7da !important;
  color: red !important;
  padding: 15px !important;
  border: 1px solid #f5c6cb !important;
  border-radius: 5px !important;
  text-align: center !important;
  margin: 10px 0 !important;
}

@media screen and (max-width: 789px) {
  .cart-image {
    width: 120px;
    height: 120px;
  }
}
