/* Navbar Link Styles */
.navbar-nav .nav-link {
  color: #000; /* Default text color */
  transition: all 0.3s ease; /* Smooth transition for hover and active */
}

/* Hover effect */
.navbar-nav .nav-item:hover {
  color: #fff; /* Light text color on hover */
  background-color: black; /* Dark background on hover */
}

/* Active Link Styles */
.navbar-nav .nav-link.active {
  color: #fff; /* Light text color for active */
  background-color: black; /* Dark background for active */
}

.flash-message {
  background-color: #dff0d8; /* Light green background */
  color: #3c763d; /* Dark green text */
  padding: 15px;
  border: 1px solid #d6e9c6; /* Green border */
  border-radius: 5px;
  text-align: center;
  margin: 10px 0;
}

#msg-flash-error.flash-message-error {
  background-color: #f8d7da !important;
  color: red !important;
  padding: 15px !important;
  border: 1px solid #f5c6cb !important;
  border-radius: 5px !important;
  text-align: center !important;
  margin: 10px 0 !important;
}
